:root {
    --Primary-Color: #654321;
    --Accent-Color-1: #8B4513;
    --Accent-Color-2: #FFA500;
    --Background-Color: #FFFFFF;
    --Text-Color: #333333;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--Text-Color);
    background-color: var();
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Serif', serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 2rem;
    background-color: var(--Primary-Color);
    color: #fff;
    overflow: hidden;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: 1.2rem;
    font-weight: 600;
    gap: 2vw;
    color: var(--Accent-Color-2);
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
    border-radius: 3px;
    padding: .2rem;
    overflow: hidden;
}

a:hover {
    box-shadow: 0 0 3px rgb(128, 116, 116);
}

h1 {
    text-align: center;
    font-size: 2.5rem;
}

#ChurchPhoto {
    display: block;
    width: 90%;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 4px #333;
    margin-bottom: 2rem;
}

#BriefHistory {
    padding: 1rem;
    line-height: 1.5;
    background-color: var(--Primary-Color);
    color: #fff;
    box-shadow: 0 0 15px var(--Primary-Color);
}

.hidden {
    display: none;
}

#show-text {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    font-family: inherit;
    font-size: .9rem;
    color: #bbb;
    cursor: pointer;
}

#Location {
    color: var(--Text-Color);
    padding: 1rem 0;
}

h2 {
    text-align: center;
}

#map {
    width: 90%;
    height: 40vh;
    margin: 0 auto;
    display: block;
    box-shadow: 0 0 3px #222;
    border-radius: 5px;
}

#Programs {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    flex-wrap: wrap;
}

.program-container {
    width: 200px;
    background-color: var(--Accent-Color-1);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 3px var(--Accent-Color-1);
    color: #fff;
    margin: .5rem;
    flex: 1;
}

.program-icon {
    font-size: 3rem;
    
}

form {
    border: 0px solid #000;
    box-shadow: 0 0 3px #000;
    margin: 1.5rem auto;
    padding: 1rem;
    width: 40%;
    border-radius: 5px;
    background-color: var(--Accent-Color-1);
    color: #fff;
}

label {
    display: block;
    font-weight: 600;
    margin: 1.5rem 0 0.2rem 0;
}

label:first-of-type {
    margin-top: 0;
}

input, textarea, select {
    background-color: #ddd;
}

input, select {
    width: 90%;
    height: 1.2rem;
    padding-left: 0.5rem; 
}

textarea {
    display: block;
    width: 95%;
    height: 3rem;
    padding-left: 0.5rem;
}

select {
    line-height: 2rem;
}

.button {
    display: block;
    margin: 1rem auto 0 auto;
    padding: .5rem;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: 0 0 3px #000;
}

button {
    background-color: var(--Accent-Color-2);
}

.button:hover {
    box-shadow: 0 0 0 #fff;
}

.footer{
    background-color: var(--Primary-Color);
    color: #fff;
    margin-top: 1rem;
}

#contacts {
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.contact-icon {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.5rem;
}

.contact-text {
    display: inline-block;
}

#extra-info {
    display: flex;
    justify-content: space-evenly;
}

#extra-info-text, #extra-info-address {
    width: 40%;
}

#copyright-text {
    font-style: italic;
    text-align: center;
}

#links {
    display: block;
    margin: 1rem;
    text-align: center;
}

.footer-icon {
    margin: .5rem;
    font-size: 1.8rem;
}

/* Media query for small screens.*/
@media only screen and (max-width: 700px) {
    a {
        font-size: .8rem;
    }

    #map {
        height: 25vh;
    }

    #question-form {
        width: 60%;
    }
}

/* Communities */
#main-church-groups {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#main-church-groups .group {
    min-width: 100px;
    max-width: 400px;
    margin-bottom: .5rem;
    background-color: var(--Accent-Color-1);
    color: #fff;
    padding: .5rem;
    border-radius: 10px;
    box-shadow: 0 0 3px var(--Accent-Color-1);
}

.main-group-photo {
    display: block;
    width: 90%;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 3px #999;
}

legend {
    margin-bottom: .5rem;
}