/* **** GENERAL STYLING **** */

:root {
    --Primary-Color: #654321;
    --Accent-Color-1: #8B4513;
    --Accent-Color-2: #FFA500;
    --Background-Color: #FFFFFF;
    --Text-Color: #333333;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--Text-Color);
    background-color: var();
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Serif', serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 2rem;
    background-color: var(--Primary-Color);
    color: #fff;
    overflow: hidden;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: 1.2rem;
    font-weight: 600;
    gap: 2vw;
    color: var(--Accent-Color-2);
}

.nav-link {
    text-decoration: none;
    color: inherit;
    padding: .5rem;
    border-radius: 10px;
    /*overflow: hidden;*/
}

.current-page {
    border-bottom: 3px solid var(--Accent-Color-2);


    box-shadow: 0 0 3px var(--Accent-Color-2);

}

.nav-link:hover {
    box-shadow: 0 0 3px var(--Accent-Color-2);
}

/*#svgContainer {
    position: relative;
    min-height: 8rem;
    margin-bottom: -5px;
}*/

/*SVG styling*/
/*.custom-shape-divider-bottom-1699543576 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1699543576 svg {
    position: relative;
    display: block;
    width: calc(282% + 1.3px);
    height: 149px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1699543576 .shape-fill {
    fill: var(--Primary-Color);
}*/

/** For mobile devices 
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1699543576 svg {
        width: calc(152% + 1.3px);
        height: 53px;
    }
}

/** For mobile devices
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1699543464 svg {
        width: calc(100% + 1.3px);
        height: 92px;
    }
}

/** For mobile devices
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1699543367 svg {
        width: calc(100% + 1.3px);
        height: 18px;
    }
}

/** For mobile devices
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1699543236 svg {
        width: calc(150% + 1.3px);
        height: 30px;
    }
}

/** For mobile devices
@media (max-width: 767px) {
    .custom-shape-divider-top-1699542825 svg {
        width: calc(233% + 1.3px);
        height: 29px;
    }
}

/** For mobile devices 
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1699542619 svg {
        width: calc(200% + 1.3px);
        height: 56px;
    }
}

/** For mobile devices 
@media (max-width: 767px) {
    .custom-shape-divider-top-1699542070 svg {
        width: calc(221% + 1.3px);
        height: 44px;
    }
}**/

.main-heading {
    text-align: center;
    font-size: 2.5rem;
}

.larger-icon{
    font-size: 5rem;
}

.form {
    border: 0px solid #000;
    box-shadow: 0 0 3px #000;
    margin: 1.5rem auto;
    padding: 1rem;
    width: 60vw;
    max-width: 500px;
    border-radius: 5px;
    background-color: var(--Accent-Color-1);
    color: #fff;
}

label {
    display: block;
    font-weight: 600;
    margin: 1.5rem 0 0.2rem 0;
}

label:first-of-type {
    margin-top: 0;
}

input, textarea, select {
    background-color: #ddd;
}

input, select {
    width: 90%;
    height: 1.5rem;
    padding-left: 0.5rem; 
    border: 0;
    border-radius: 5px;
}

textarea {
    display: block;
    width: 95%;
    height: 3rem;
    padding-left: 0.5rem;
}

select {
    line-height: 2rem;
}

.button {
    display: block;
    margin: 1rem auto 0 auto;
    padding: .5rem;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: 0 0 3px #000;
}

button {
    background-color: var(--Accent-Color-2);
}

.button:hover {
    box-shadow: 0 0 0 #fff;
}

.footer{
    background-color: var(--Primary-Color);
    color: #fff;
    margin-top: 1rem;
}

#contacts {
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.contact-icon {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.5rem;
}

.contact-text {
    display: inline-block;
}

#extra-info {
    display: flex;
    justify-content: space-evenly;
}

#extra-info-text, #extra-info-address {
    width: 40%;
}

#copyright-text {
    font-style: italic;
    text-align: center;
}

#links {
    display: block;
    margin: 1rem;
    text-align: center;
}

.footer-icon {
    margin: .5rem;
    font-size: 1.8rem;
}

.large-icon {
    font-size: 3rem;
    text-align: center;
    display: block;
}


/* **** HOME PAGE **** */

#AboutUs{
    background-color: var(--Primary-Color);
    display: flex;
    flex-direction: column;
}

.aboutUsContainer {
    display: flex;
    flex-wrap: nowrap;
}

.aboutUsPhoto{
    display: inline-block;
    width: 50%;
    height: auto;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 4px #333;
    margin-bottom: 2rem;
    align-self: center;
}

.briefHistory {
    padding: 1rem;
    line-height: 1.5;
    color: #fff;
    box-shadow: 0 0 15px var(--Primary-Color);
}



.hidden {
    display: none;
}

.massProgram{
    margin: 2rem 1.5rem;
    text-align: center;
}

.massPhoto{
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 3px black;
}

#Programs {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    flex-wrap: wrap;
}

.program-container {
    width: 200px;
    margin: .5rem;
    flex: 1;
    background-color: var(--Accent-Color-1);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 3px var(--Accent-Color-1);
    color: #fff;
}



.questions-section{
    color: var(--Text-Color);
    background-color: var(--Background-Color);
    padding: 1rem;
}

questionsContainer{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.larger-text{
    font-size: 1.5rem;
}

#Location {
    position:relative;
    color: var(--Text-Color);
    padding: 1rem 0;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

#AboutUs-header {
    color: #fff;
}

#map {
    width: 90%;
    height: 40vh;
    margin: 0 auto;
    display: block;
    box-shadow: 0 0 3px #222;
    border-radius: 5px;
}




/* Media query for small screens.*/



/* **** GROUPS **** */
.major-group {
    text-align: center;
    margin: 3rem;
}

#main-church-groups {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#main-church-groups .group {
    min-width: 100px;
    max-width: 400px;
    margin-bottom: .5rem;
    background-color: var(--Accent-Color-1);
    color: #fff;
    padding: .5rem;
    border-radius: 10px;
    box-shadow: 0 0 3px var(--Accent-Color-1);
}

.main-group-photo {
    display: block;
    width: 90%;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 3px #999;
}

/* **** SCCS **** */

.SCCs{ 
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.saint-photo{
    width: 20%;
    height: auto;
    border-radius: 50%;
    margin: 1rem auto;
    display: block;
    border: .1rem solid black;
    box-shadow:0 0 .1rem #000;
}